body, p, li {
  font: 11.8px/16.2px 'DejaVu Sans',Verdana,'Lucida Grande',Geneva,sans-serif;
  color: #111111;
}
h1 {
  font-size: 19px;
  margin-top: 0;
}
h2 {
  font-size: 13.6px;
  font-weight: bold;
  color: #c34609;
}
h3 {
  font-size: 12.2px;
  font-weight: bold;
  font-style: italic;
}
p {
  margin: 3px 7px 3.8px 6px;
}
a {
  text-decoration: none;
  color: #004cc9;
}
a:hover {
  color: #D88C00;
}

div.clear { clear: both; }
p.more a {
    background:transparent url(graphics/theme4/bullet.png) no-repeat scroll 0 0.45em;
    margin-left:0px;
    padding-left:10px;
}

/*
Fluid column layout ("Holy Grail of Layouts" - http://www.alistapart.com/articles/holygrail)

left column:   LC width = 211 px,  LC padding = 10 px
center column: CC width = <fluid>, CC padding = 26 px
right column:  RC width = 234 px,  RC padding = 10 px
*/
html, body {
    padding: 0;
    margin: 0;
    min-width: 900px;       /* at least [2 x (LC width + LC padding + CC padding) + RC width
                               + RC padding] needed, otherwise layout messed up on small viewports*/
    height: 100%;           /* force layout to stretch to viewport height */
    min-width: 100%;        /* force layout to stretch to viewport width */
    float: left;            /* force layout width to properly expand in case of overflowing elements */
}
#layoutcontainer {
    padding-left: 221px;    /* LC width + LC padding */
    position: relative;     /* set as reference for absolute positioning of header and footer */
    min-height: 100%;       /* needed to make footer stick to bottom of viewport */
    padding-right: 55px;    /* right margin for two-column case */
    overflow: hidden;       /* force container to stretch to height of highest column */
}
#layoutcontainer.threecols {
    padding-right: 270px;   /* RC width + RC padding + CC padding */
}

/* top box navigational elements (height = ) */
#head {
    background-image: url(graphics/theme4/header-bg-solid-1px.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 92px;
    position: absolute;
    top: 0;
    left: 0;
}
#logo { position: absolute; top: 0px; left: 0px; padding: 0px; }
#languageselector { position: absolute; top: 0px; right: 0px; text-align: right; padding: 5px; }

#sitesearch {
  position: absolute; top: 77px; right: 0px; text-align: right; padding: 5px;
  background: url('graphics/theme4/searchbar-t-solid.png') top left no-repeat;
  padding: 16px 0 0 0;
  width: 242px;
}
#searchbar-content {
  background: url('graphics/theme4/searchbar-be-solid.png') bottom left no-repeat;
  margin: 0 0 0 0;
  padding: 0 9px 1px 20px;
}
#searchform {
  position: relative;
  top: -12px;
  text-align: center;
}
#searchform input.button {
}
#searchform input.text {
    width: 130px;
    border: 1px solid black;
}


/* two/three columns touching each other */
#sitenavigation, #maincontent, #quickoverview {
    position: relative;
    float: left;
    padding-top: 121px;     /* header height (114px), + spacing (7px) */
    padding-bottom: 45px;   /* footer height */
}
#sitenavigation {  /* left column */
    width: 211px;          /* LC width */
    padding-left: 5px;     /* LC padding / 2 */
    padding-right: 5px;    /* LC padding / 2 */
    right: 247px;          /* LC width + LC padding + CC padding */
    margin-left: -100%;
    overflow: hidden;
}
* html #sitenavigation { /* IE6 hack */
  left: 234px;             /* RC width */
}
#maincontent {  /* middle column */
    padding-left: 13px;    /* CC padding / 2 */
    padding-right: 13px;   /* CC padding / 2 */
    width: 100%;
}
#quickoverview {  /* right column */
    width: 234px;          /* RC width */
    padding-left: 5px;     /* RC padding / 2 */
    padding-right: 5px;    /* RC padding / 2 */
    margin-right: -100%;
    overflow: hidden;
}

/* elements at the bottom of the two/three columns */
#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.outdatedtranslation { text-align: center; }
#validator { text-align: center; }
#translator { text-align: center; }
#sitestats { text-align: center; }

div.border {
    background-image: url('graphics/theme4/box_lightgreen-mh-1px.png'); background-repeat: repeat-x;
    background-color: #e6f5c3;
    position: relative;
}
div.border div.header {
    background-image: url('graphics/theme4/box-ti-solid-1px.png'); background-repeat: repeat-x;
    height: 14px;
}
div.border div.header h3,
div.moduleentry div.header h3 {
    padding-left: 20px;
    position: relative; top: -19px;
    margin-top: 27px; margin-left: -13px;
    color: #c34609;
    font-style: normal; font-size: 14px;
}
div.border div.header h3 a,
div.moduleentry div.header h3 a {
    color: #c34609;
}

div.border div.border-tl {
    background-image: url('graphics/theme4/box_lightgreen-tl-solid.png');
    width: 14px; height: 14px; z-index: 5;
    position: absolute;
}
div.border div.border-tr {
    background-image: url('graphics/theme4/box_lightgreen-tr-solid.png');
    width: 14px; height: 14px; z-index: 5;
    position: absolute; right: 0; top: 0;
}
div.border div.border-bl {
    background-image: url('graphics/theme4/box_lightgreen-bili.gif');
    width: 14px; height: 14px; z-index: 5;
    position: absolute; left: 0; bottom: 0;
}
div.border div.border-br {
    background-image: url('graphics/theme4/box_lightgreen-biri.gif');
    width: 14px; height: 14px; z-index: 5;
    position: absolute; right: 0; bottom: 0;
}
div.border div.border-l {
    background-image: url('graphics/theme4/box-li-solid-1px.png'); background-repeat: repeat-y;
    width: 9px; height: 100%;
    position: absolute;
    top: 0; z-index: 0;
}
div.border div.border-r {
    background-image: url('graphics/theme4/box-ri-solid-1px.png'); background-repeat: repeat-y;
    width: 9px; height: 100%;
    position: absolute;
    right: 0; z-index: 0;
}
div.border div.content,
div.moduleentry div.content {
    padding: 16px; padding-top: 2px; padding-bottom: 0;
}
div.border div.footer {
    height: 14px; background-position: bottom;
    background-image: url('graphics/theme4/box-bi-solid-1px.png'); background-repeat: repeat-x;
}


div.what-is-kdevelop dl {
    margin: 0;
}
div.what-is-kdevelop dl dt {
    color: #60a802;
    font-size: 20px;
    margin: 0; padding: 0;
}
div.what-is-kdevelop dt.kdevplatform {
    font-size: 16px;
}
div.what-is-kdevelop dl dd { margin-bottom: 11px; margin-left: 22px; margin-top: 4px; }
div.what-is-kdevelop dl dd ul { margin: 0; padding: 0; padding-left: 15px; padding-top: 4px; }
div.what-is-kdevelop dl dd li {
    display: inline;
    background: url(graphics/theme4/bullet.png) no-repeat scroll 0 0.45em;
    padding-left: 11px; margin-right: 10px;
}
div.what-is-kdevelop .screenshot {
    float: right; margin-top: -24px; margin-right: -16px;
}

div.main-versions dl {
    margin: 10px 0;
    text-align: left;
    width: 49%; float: left;
}
div.main-versions dd {
 margin: 0;
}
div.main-versions dd ul  {
    margin: 0; padding-left: 25px;
}
div.main-versions dt {
    font-size: 14px;
}
div.main-versions dt span.range {
    font-size: 10px;
    font-style: italic;
    color: #71ac12;
}
/*
div.dev-blog-posts .header { height: 10px; }
div.dev-blog-posts h4 {
    margin: 0; margin-bottom: 5px;
    border-bottom: 1px solid #73952f;
    font-style: italic;
    position: relative;
    padding-right: 50px;
}
div.dev-blog-posts h4 .date {
    margin-top: 2px;
    color: #73ad1f; font-size: 11px;
    font-weight: normal;
    display: block; float: left; min-width: 7em; padding-right: 7px;
    font-style: normal;
}
div.dev-blog-posts .entry-content {
    margin-bottom: 10px;
}
*/

div.listmodule .header { height: 10px; }
div.listmodule  span.date {
    float: left; margin: 0px;
    color: #73ad1f; font-size: 11px;
    display: block; min-width: 7em; padding-right: 7px;
    font-style: normal; font-weight: normal;
}
div.listmodule  h2 {
    margin: 0; margin-bottom: 5px;
    border-bottom: 1px solid #73952f;
    font-style: italic;
    position: relative;
    padding-right: 50px;
    color: black;
}
div.listmodule  p {
    margin: 0;
    margin-bottom: 10px;
}
div.listmodule a.fullpost {
    background:transparent url(graphics/theme4/bullet.png) no-repeat scroll 0 0.45em;
    padding-left:10px;
}

div.dev-blog-posts h2 {
    font-size: 13px;
    padding-right: 60px;
}
div.dev-blog-posts .source {
    margin-top: 2px;
    color: black; font-size: 11px;
    font-style: normal; font-weight: normal;
    position: absolute; right: 0;
}

/*
pure style and beautification stuff, as less layout (position) as possible
very general stuff
*/
body {
    background :  white;
    font :  normal  normal  medium  sans-serif;
    font-size: small;
    background-image: url(graphics/theme4/page-l-solid.png);
    background-repeat: repeat-y;
}

img { border: 0; }

strong {
    font-weight: bold;
    color: #3eeb91;
  }

dd.code {
    font-family: courier, monospace;
    text-align: left;
  }


/* Main Column style */
#maincontent {
    background: url('graphics/theme4/maincol_tr.jpg') right 92px no-repeat,
                url('graphics/theme4/maincol_br.jpg') right bottom no-repeat,
                url('graphics/theme4/maincol_r.jpg') right center repeat-y,
                url('graphics/theme4/maincol_tl.jpg') left 92px no-repeat,
                url('graphics/theme4/maincol_t.png') center 92px repeat-x,
                url('graphics/theme4/maincol_bl.jpg') left bottom no-repeat,
                url('graphics/theme4/maincol_b.png') center bottom repeat-x,
                url('graphics/theme4/maincol_l.jpg') left center repeat-y,
                #F5FAE9;
}


div.quickbox,
div.navbox {
  text-align: left;
  background: url('graphics/theme4/navbox-liri-1px.gif') repeat-y;
  width: 204px;  /* width of quick-access boxes */
  margin: 0 0 2.6px 7px;
}
div.quickbox  { margin-left: 0px;  margin-bottom: 7px; }
div.quickbox  div.header,
div.navbox div.header {
  position: relative;
  background: url('graphics/theme4/navbox-t-solid.png') top no-repeat;
  padding: 14px 0 0 0;
}
div.quickbox  div.header h3,
div.navbox div.header h3 {
  background: #79be16;
  padding: 2.5px 11px 5.5px 25px;
  margin: 0 9px 0 9px;
  font-family: 'Linux Biolinum','Optima','Palatino',sans-serif;
  color: white;
  text-transform: uppercase;
  text-shadow: 1.5px 1.4px 1px #698C25;
  text-align: right;
  font-size: 14px;
  font-size-adjust: 0.51;
  font-style: normal;
  line-height: 100%;
}
div.quickbox  div.content,
div.navbox div.content {
  background: #daf3af url('graphics/theme4/box_green-mh-1px.png') top repeat-x;
  padding: 7.4px 9px 4px 11px;
  margin: 0 9px -6px 9px;
}
div.quickbox  div.content li,
div.navbox div.content li {
    background:transparent url(graphics/theme4/bullet.png) no-repeat scroll 0 0.45em;
    margin-left:0px;
    padding: 1px 0 1px 10px;
    line-height: 14.2px;
}
div.navbox div.content li {
  font-style: italic;        /* style of non-clickable list items in left menu */
  color: #5D9306;
}
div.navbox div.content li a {
  font-style: normal;        /* overrule italics style of parent li */
}
div.quickbox  div.footer,
div.navbox div.footer {
  background: url('graphics/theme4/navbox-bi.gif') repeat-y;
  height: 14px;
}
div.quickbox .category-icon,
div.navbox .category-icon {
    position: absolute;
    background-repeat: no-repeat;
}
div.navbox div.content ul,
div.quickbox div.content ul {
    list-style-type: none;
    padding: 0;
    margin: 0px 0 2px 2px;
}
div.quickbox div.content ul {
    margin-left: 15px;
    margin-bottom: 3px;
}
div.navbox div.content ul ul,
div.quickbox div.content ul ul {
    margin-left: 7px;
    margin-bottom: -1px;
}
div.quickbox div.content p {
    padding: 0;
    margin: 0;
     margin-bottom: 1px; 
}


/* Quickbox (Home right) */
div.quickbox {
  width: 233px;
  background-image: url('graphics/theme4/quickbox-liri-1px.gif');
}
div.quickbox div.header {
  background-image: url('graphics/theme4/quickbox-t-solid.png');
}
div.quickbox  div.header h3 {
  text-align: left;
  padding-left: 10px;
  padding-right: 25px;
}
div.quickbox  div.footer {
  background-image: url('graphics/theme4/quickbox-bi.gif');
}

/* Quickbox Download */
div.cat-download div.header {
  background-image: url('graphics/theme4/quickbox_blue-t-solid.png');
}
div.cat-download div.header h3 {
  background-color:#1568af;
  text-shadow: 1.5px 1.4px 1px #215278;
}
div.cat-download div.content {
  background-image: url('graphics/theme4/box_blue-mh-1px.png');
  background-color: #b9dbf7;
}
div.cat-download div.content a.download {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    color: #063660;
    font-weight: bold; font-size: 16px;
    margin-bottom: 4px; margin-left: -11px; margin-right: -9px;
    padding: 5px; padding-bottom: 6px; padding-left: 43px; padding-top: 11px;
    line-height: 10px;
    background-image: url('graphics/kdevelop_icon_27.png'); background-repeat: no-repeat;
    background-position: 10px 3px;
}
div.cat-download div.content a.download:hover {
  color:#D88C00;
  background-color: rgba(255, 255, 255, 0.65);
}
div.cat-download div.content a.download-legacy {
    background-image: url('graphics/kdevelop30_icon.png');
    background-position: 19px 3px;
    color: #487ba5;
    font-size: 13px;
    padding-top: 6px; padding-bottom: 7px;
}
div.cat-download div.content a.download span.date {
    font-style: italic;
    color: black;
    font-size: 10px; font-weight: normal; position: relative; top: 4px;
}
div.cat-download div.footer {
  background-image: url('graphics/theme4/quickbox_blue-bi.gif');
}

/* Quickbox Support */
div.cat-support div.header {
  background-image: url('graphics/theme4/quickbox_red-t-solid.png');
}
div.cat-support div.header h3 {
  background-color:#c24610;
  text-shadow: 1.5px 1.4px 1px #8D4021;
}
div.cat-support div.content {
  background-image: url('graphics/theme4/box_red-mh-1px.png');
  background-color: #f6cca6;
}
div.cat-support div.footer {
  background-image: url('graphics/theme4/quickbox_red-bi.gif');
}


.cat-doc .category-icon {
  background: url('graphics/theme4/cat-doc.png') no-repeat;
  left: 6px; top: -3px;
  width: 35px; height: 38px;
}
.cat-devel .category-icon {
  background: url('graphics/theme4/cat-devel.png') no-repeat;
  left: 6px; top: -2px;
  width: 42px; height: 44px;
}
.cat-community .category-icon {
  background: url('graphics/theme4/cat-community.png') no-repeat;
  left: 1px; top: -1px;
  width: 52px; height: 38px;
}
.cat-promotion .category-icon {
  background: url('graphics/theme4/cat-promotion.png') no-repeat;
  left: 5px; top: 1px;
  width: 38px; height: 36px;
}
.cat-download .category-icon {
  background: url('graphics/theme4/cat-download.png') no-repeat;
  right: 3px; top: -3px;
  width: 59px; height: 69px;
}
.cat-support .category-icon {
  background: url('graphics/theme4/cat-support.png') no-repeat;
  right: 4px; top: 0px;
  width: 44px; height: 44px;
}
/*
TODO IE6 overrides
.cat-doc .cat-icon  { background-image: url('graphics/theme4/cat-doc.gif') }
.cat-devel .cat-icon  { background-image: url('graphics/theme4/cat-devel.gif') }
.cat-community .cat-icon  { background-image: url('graphics/theme4/cat-community.gif') }
.cat-promotion .cat-icon  { background-image: url('graphics/theme4/cat-promotion.gif') }
.cat-download .cat-icon  { background-image: url('graphics/theme4/cat-download.gif') }
.cat-support .cat-icon  { background-image: url('graphics/theme4/cat-support.gif') }
*/

/* main horizontal navigational menu */
#menu {
 position: absolute; top: 40px;  left: 430px;
 font-weight:bold;
 font-size:0.9em;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  float: left;
  background: url("/graphics/theme4/topmenulink-l.gif") no-repeat left top;
  margin: 0 0 0 3px;
  padding: 0 0 0 6px;
}
#menu ul a {
  display: block;
  background: url("/graphics/theme4/topmenulink-re.gif") no-repeat right top;
  padding: 4px 8px 3px 1px;
  color: white;
}

#menu ul a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 12.6px;
}
#menu ul a:before {
  content: url('graphics/theme4/bullet_toplink-solid.png');
  position: relative;
  bottom: 0.16em;
  padding-right: 5px;
}
#menu ul a:hover {
  color: #F5CB22;
  text-shadow: rgba(255,255,255,0.5) 0 0 6px, #51800C 0 0 1px;
}
#menu ul a:active {
  color:#BEED66;
  text-shadow: none;
}

#footer {
    margin-top: 120px;
    background-image: url(graphics/theme4/footer-bg-solid-1px.png);
    background-repeat: repeat-x;
}
#footer .sitemap {
    margin: 0;
    background-image: url(graphics/theme4/footerleft-l-solid.png);
    background-repeat: no-repeat;
    float: left;
    margin-top: -10px;
}
#footer .sitemap a {
    display: block;
    margin-left: 16px;
    padding-right: 24px;
    background-image: url(graphics/theme4/footerleft-r-solid.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-weight: bold;
    color: white;
}
#footer .sitemap a span {
    display: block;
    padding-top: 20px;
    background-image: url(graphics/theme4/footerleft-m-solid-1px.png);
    background-repeat: repeat-x;
}
#footer .sitemap a span:before {
  content: url('graphics/theme4/bullet_bottomlink.gif');
  position: relative;
  bottom: 0.16em;
  padding-right: 5px;
}
#footer .sitemap a:hover {
  color:#F5CB22;
  text-shadow: #51800C 0 0 1px;
}
#footer .sitemap a:active {
  color:#CCF873;
  text-shadow: none;
}
#footer #pagemodtime {
    padding-top: 17px;
    text-align: center;
}
#footer #webmaster {
    margin-top: -17px;
    text-align: right;
    font-size: 0.8em;
    font-style: normal;
}
#footer #webmaster a {
    margin-left:0px;
    padding-left:10px;
    background:transparent url(graphics/theme4/bullet.png) no-repeat scroll 0 0.45em;
}
