body, p, li {
  font: 11.8px/16.2px 'DejaVu Sans',Verdana,'Lucida Grande',Geneva,sans-serif;
  color: #111111;
}
h1 {
  font-size: 19px;
  margin-top: 0;
}
h2 {
  font-size: 13.6px;
  font-weight: bold;
  color: #c34609;
}
h3 {
  font-size: 12.2px;
  font-weight: bold;
  font-style: italic;
}
p {
  margin: 3px 7px 3.8px 6px;
}
a {
  text-decoration: none;
  color: #004cc9;
}

/*
basic "holly-grail" layout (top box plus two/three columns touching)
http://www.thenoodleincident.com/tutorials/box_lesson/content_placement/text.html
http://www.thenoodleincident.com/tutorials/box_lesson/basic4_touch.html
This is an attempt of pure layout (position only), no style.
*/
html { min-width: 780px; }
body { padding: 0; margin: 0; }

/* top box navigational elements (height = ) */
#head {
    background-image: url(graphics/theme4/header-bg-solid-1px.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 92px;
    position: absolute;
    top: 0;
}
#logo { position: absolute; top: 0px; left: 0px; padding: 0px; }
#languageselector { position: absolute; top: 0px; right: 0px; text-align: right; padding: 5px; }

#sitesearch {
  position: absolute; top: 77px; right: 0px; text-align: right; padding: 5px;
  background: url('graphics/theme4/searchbar-t-solid.png') top left no-repeat;
  padding: 16px 0 0 0;
  width: 242px;
}
#searchbar-content {
  background: url('graphics/theme4/searchbar-be-solid.png') bottom left no-repeat;
  margin: 0 0 0 0;
  padding: 0 9px 1px 20px;
}
#searchform {
  position: relative;
  top: -12px;
  text-align: center;
}
#searchform input.button {
}
#searchform input.text {
    width: 130px;
    border: 1px solid black;
}


/* two/three columns touching each other */
#sitenavigation { position: absolute; top: 120px; left: 0px; width: 10em; }                 /* left column */
#news           { position: relative; top: 120px; margin-left: 240px; margin-right: 240px; } /* middle column (2 of 3) */
#maincontent    { position: relative; top: 120px; margin-left: 10em; margin-right: 0px; }   /* middle column (2 of 2) */
#quickoverview  { position: absolute; top: 120px; right: 0px; width: 240px; }               /* right column */

/* elements at the bottom of the two/three columns */
.outdatedtranslation { text-align: center; }
#validator { text-align: center; }
#translator { text-align: center; }
#sitestats { text-align: center; }



/*
pure style and beautification stuff, as less layout (position) as possible
very general stuff
*/
body {
    background :  white;
    font :  normal  normal  medium  sans-serif;
    font-size: small;
    background-image: url(graphics/theme4/page-l-solid.png);
    background-repeat: repeat-y;
}

img { border: 0; }

strong {
    font-weight: bold;
    color: #3eeb91;
  }

dd.code {
    font-family: courier, monospace;
    text-align: left;
  }

table {
    border-collapse: collapse; /* nice looking table borders */
    margin-left: auto;         /* center tables (margin-left==margin-right) */
    margin-right: auto;
  }

th.header {
    font-weight: bold;
    background-color: #9CCC92;
    text-align: center;
  }

/* for each "module" element ( module_head() and module_tail() functions ) */
div.moduleentry { background-color: #EFF7E3; text-align: justify; margin: 5px; }
h1.moduleheader { background-color: #81A979; text-align: center; font : bold normal medium sans-serif; }
div.modulecontent { padding: 0px 5px 2px 5px; }

#sitenavigation div.moduleentry {
  background: url('graphics/theme4/navbox-liri-1px.gif') repeat-y;
  width: 204px;  /* width of quick-access boxes */
  margin: 0 0 2.6px 13px;
}
#sitenavigation div.moduleentry div.header{
  background: url('graphics/theme4/navbox-t-solid.png') top no-repeat;
  padding: 14px 0 0 0;
}
#sitenavigation div.moduleentry div.header h3 {
  background: #79be16;
  padding: 0 11px 3px 9.3px;
  margin: 0 9px 0 9px;
  font-family: 'Linux Biolinum','Optima','Palatino',sans-serif;
  color: white;
  text-transform: uppercase;
  text-shadow: 1.5px 1.4px 1px #698C25;
}
#sitenavigation div.moduleentry div.content {
  background: #daf3af url('graphics/theme4/box_green-mh-1px.png') top repeat-x;
  padding: 6.4px 8px 4px 8px;
  margin: 0 9px -6px 9px;
}
#sitenavigation div.moduleentry div.content li {
    background:transparent url(graphics/theme4/bullet.png) no-repeat scroll 0 0.45em;
    margin-left:0px;
    padding-left:10px;
}
#sitenavigation div.moduleentry div.footer {
  background: url('graphics/theme4/navbox-bi.gif') repeat-y;
  height: 14px;
}



th { border: 1px solid gray; }
td { border: 1px solid gray; }
td.even { background-color: #AEE5A3; }
td.odd { background-color: #DCEEC2; }

.footnote,
.footnote a {
	font-size:12px;
	line-height:1.3em;
	color:#aaa;
}

.footnote em {
	background-color:transparent;
	font-style:italic;
}

.footnote code {
	background-color:transparent;
	font:11px/14px monospace;
	color:#aaa;
}


/*
Very specific formating/style stuff
*/
#searchdomain { font-size: small; }
#sitesearch td { border: 0px; }
#sitesearch table { margin-right: 0; }
#quickdownloads { font-size: small; text-align: left; }

/* website navigation (left column) */
#sitenavigation h2{ text-align: center; font : bold normal medium sans-serif; margin: 0px; }
#sitenavigation ul{ text-align: left; list-style-type:none; padding: 0px; margin: 0px;}
#sitenavigation table{ border: 0; width: 9em; }
#sitenavigation td { border: 0; }
#sitenavigation th { border: 0; }
td.versionlink { font-size: x-small; text-align: center; }

#picturecorner { text-align: center; }
#userprograms { text-align: center; }
#latestchangelogs { font-size: x-small; }
.detailedchangelog { font-size: small; text-align: right; }

/* screenshots pages */
div.screenshotthumb { float:left;margin: 0 25px 30px 0;vertical-align:top; }
div.screenshotcaption { text-align:center;width:200px;height:5em; }

#others ul{ list-style-type:none; }
li.othershoriz { display:inline; padding-right:20px; white-space:nowrap; }

/* main horizontal navigational menu */
#menu {
 position: absolute; top: 41px;  right: 0em; width: 100%;
 font-weight:bold;
 font-size:0.9em;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  float: left;
  background: url("/graphics/theme4/topmenulink-l.gif") no-repeat left top;
  margin: 0 0 0 3px;
  padding: 0 0 0 6px;
}
#menu ul a {
  display: block;
  background: url("/graphics/theme4/topmenulink-re.gif") no-repeat right top;
  padding: 4px 8px 3px 1px;
  color: white;
}

#menu ul a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 12.6px;
}
#menu ul a:before {
  content: url('graphics/theme4/bullet_toplink-solid.png');
  position: relative;
  bottom: 0.16em;
  padding-right: 5px;
}
#menu ul a:hover {
  color:#fff;
  text-shadow: #BEED66 0 0 4px;
}
#menu ul a:active {
  color:#BEED66;
  text-shadow: none;
}

#footer {
    margin-top: 120px;
    background-image: url(graphics/theme4/footer-bg-solid-1px.png);
    background-repeat: repeat-x;
}
#footer .sitemap {
    margin: 0;
    background-image: url(graphics/theme4/footerleft-l-solid.png);
    background-repeat: no-repeat;
    float: left;
    margin-top: -10px;
}
#footer .sitemap a {
    display: block;
    margin-left: 16px;
    padding-right: 24px;
    background-image: url(graphics/theme4/footerleft-r-solid.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-weight: bold;
    color: white;
}
#footer .sitemap a span {
    display: block;
    padding-top: 20px;
    background-image: url(graphics/theme4/footerleft-m-solid-1px.png);
    background-repeat: repeat-x;
}
#footer .sitemap a span:before {
  content: url('graphics/theme4/bullet_bottomlink.gif');
  position: relative;
  bottom: 0.16em;
  padding-right: 5px;
}
#footer .sitemap a:hover {
  color:#fff;
  text-shadow: #CCF873 0 0 4px;
  text-decoration: none;
}
#footer .sitemap a:active {
  color:#CCF873;
  text-shadow: none;
}
#footer #pagemodtime {
    padding-top: 17px;
    text-align: center;
}
#footer #webmaster {
    margin-top: -17px;
    text-align: right;
    font-size: 0.8em;
    font-style: normal;
}
#footer #webmaster a {
    margin-left:0px;
    padding-left:10px;
    background:transparent url(graphics/theme4/bullet.png) no-repeat scroll 0 0.45em;
}

/*
#menu ul {
 display:inline;
 list-style-type:none;
 margin-right:0.6em;
 padding:0pt;
}

#menu ul li {
 display:inline;
 max-height:1.6em;
 padding:0pt;
 text-align:center;
 white-space:nowrap;
}

#menu ul li a {
 background:#F0F0F0;
 color:#5D5D5D;
 text-decoration:none;
}

#menu ul li.selected a {
 background:transparent;
 border-bottom:1px solid white;
 border-top:1px solid #BCBCBC;
 border-left:1px solid #BCBCBC;
 border-right:1px solid #BCBCBC;
}

#menu ul li span {
 padding: 0em 0.7em;
}
*/