body, p, li {
  font: 11.8px/16.2px 'DejaVu Sans',Verdana,'Lucida Grande',Geneva,sans-serif;
  color: #111111;
}
h1 {
  font-size: 19px;
  margin-top: 0;
}
h2 {
  font-size: 13.6px;
  font-weight: bold;
  color: #c34609;
}
h3 {
  font-size: 12.2px;
  font-weight: bold;
  font-style: italic;
}
p {
  margin: 3px 7px 3.8px 6px;
}
a {
  text-decoration: none;
  color: #004cc9;
}
a:hover {
  text-decoration: underline;
}

div.clear { clear: both; }

/*
basic "holly-grail" layout (top box plus two/three columns touching)
http://www.thenoodleincident.com/tutorials/box_lesson/content_placement/text.html
http://www.thenoodleincident.com/tutorials/box_lesson/basic4_touch.html
This is an attempt of pure layout (position only), no style.
*/
html { min-width: 780px; }
body { padding: 0; margin: 0; }

/* top box navigational elements (height = ) */
#head {
    background-image: url(graphics/theme4/header-bg-solid-1px.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 92px;
    position: absolute;
    top: 0;
}
#logo { position: absolute; top: 0px; left: 0px; padding: 0px; }
#languageselector { position: absolute; top: 0px; right: 0px; text-align: right; padding: 5px; }

#sitesearch {
  position: absolute; top: 77px; right: 0px; text-align: right; padding: 5px;
  background: url('graphics/theme4/searchbar-t-solid.png') top left no-repeat;
  padding: 16px 0 0 0;
  width: 242px;
}
#searchbar-content {
  background: url('graphics/theme4/searchbar-be-solid.png') bottom left no-repeat;
  margin: 0 0 0 0;
  padding: 0 9px 1px 20px;
}
#searchform {
  position: relative;
  top: -12px;
  text-align: center;
}
#searchform input.button {
}
#searchform input.text {
    width: 130px;
    border: 1px solid black;
}


/* two/three columns touching each other */
#sitenavigation { position: absolute; top: 120px; left: 0px; width: 10em; }                 /* left column */
#news           { position: relative; top: 90px; margin-left: 225px; margin-right: 240px; } /* middle column (2 of 3) */
#maincontent    { position: relative; top: 120px; margin-left: 225px; margin-right: 0px; }   /* middle column (2 of 2) */
#quickoverview  { position: absolute; top: 120px; right: 0px; }               /* right column */

/* elements at the bottom of the two/three columns */
.outdatedtranslation { text-align: center; }
#validator { text-align: center; }
#translator { text-align: center; }
#sitestats { text-align: center; }

#news div.border {
    background-image: url('graphics/theme4/box_lightgreen-mh-1px.png'); background-repeat: repeat-x;
    background-color: #e6f5c3;
    position: relative;
}
#news div.border div.header {
    background-image: url('graphics/theme4/box-ti-solid-1px.png'); background-repeat: repeat-x;
    height: 14px;
}
#news div.moduleentry div.header h3 {
    padding-left: 20px;
    position: relative; top: -20px;
    margin-top: 30px; margin-left: -15px;
    color: #c34609;
    font-style: normal; font-size: 14px;
}
#news div.moduleentry div.header h3 a {
    color: #c34609;
}

#news div.moduleentry div.border-tl {
    background-image: url('graphics/theme4/box_lightgreen-tl-solid.png');
    width: 14px; height: 14px; z-index: 5;
    position: absolute;
}
#news div.moduleentry div.border-tr {
    background-image: url('graphics/theme4/box_lightgreen-tr-solid.png');
    width: 14px; height: 14px; z-index: 5;
    position: absolute; right: 0; top: 0;
}
#news div.moduleentry div.border-bl {
    background-image: url('graphics/theme4/box_lightgreen-bili.gif');
    width: 14px; height: 14px; z-index: 5;
    position: absolute; left: 0; bottom: 0;
}
#news div.moduleentry div.border-br {
    background-image: url('graphics/theme4/box_lightgreen-biri.gif');
    width: 14px; height: 14px; z-index: 5;
    position: absolute; right: 0; bottom: 0;
}
#news div.moduleentry div.border-l {
    background-image: url('graphics/theme4/box-li-solid-1px.png'); background-repeat: repeat-y;
    width: 9px; height: 100%;
    position: absolute;
    top: 0; z-index: 0;
}
#news div.moduleentry div.border-r {
    background-image: url('graphics/theme4/box-ri-solid-1px.png'); background-repeat: repeat-y;
    width: 9px; height: 100%;
    position: absolute;
    right: 0; z-index: 0;
}
#news div.moduleentry div.content {
    padding: 20px; padding-top: 0; padding-bottom: 0;
}
#news div.border div.footer {
    height: 14px; background-position: bottom;
    background-image: url('graphics/theme4/box-bi-solid-1px.png'); background-repeat: repeat-x;
}

div.what-is-kdevelop dl dt {
    color: #60a802;
    font-size: 20px;
}
div.what-is-kdevelop dl dd { margin-bottom: 10px; }
div.what-is-kdevelop dl dd ul { margin: 0; }
div.what-is-kdevelop dl dd li {
    display: inline;
    background: url(graphics/theme4/bullet.png) no-repeat scroll 0 0.45em;
    padding-left: 7px; margin-right: 10px;
}
div.what-is-kdevelop .screenshot {
    float: right; margin-top: -30px; margin-right: -15px;
}

div.main-versions dl {
    margin: 10px 0;
    text-align: left;
    width: 49%; float: left;
}
div.main-versions dd {
 margin: 0;
}
div.main-versions dd ul  {
    margin: 0; padding-left: 25px;
}
div.main-versions dt {
    font-size: 14px;
}
div.main-versions dt span.range {
    font-size: 10px;
    font-style: italic;
    color: #71ac12;
}

div.dev-blog-posts .header { height: 10px; }
div.dev-blog-posts h4 {
    margin: 0; margin-bottom: 5px;
    border-bottom: 1px solid #73952f;
    font-style: italic;
    position: relative;
    padding-right: 50px;
}
div.dev-blog-posts h4 .date {
    margin-top: 2px;
    color: #73ad1f; font-size: 11px;
    font-weight: normal;
    display: block; float: left; width: 80px;
    font-style: normal;
}
div.dev-blog-posts h4 .source {
    margin-top: 2px;
    color: black; font-size: 11px;
    font-style: normal; font-weight: normal;
    position: absolute; right: 0;
}
div.dev-blog-posts .entry-content {
    margin-bottom: 10px;
}
div.dev-blog-posts a.fullpost {
    background:transparent url(graphics/theme4/bullet.png) no-repeat scroll 0 0.45em;
    padding-left:10px;
}


div.news-list .header { height: 10px; }
div.news-list p.newsDate {
    float: left; margin: 0px;
    color: #73ad1f; font-size: 11px;
    display: block; width: 80px;
    font-style: normal;
}
div.news-list h2 {
    margin: 0; margin-bottom: 5px;
    border-bottom: 1px solid #73952f;
    font-style: italic;
    position: relative;
    padding-right: 50px;
    color: black;
}
div.news-list p {
    margin: 0;
    margin-bottom: 10px;
}

/*
pure style and beautification stuff, as less layout (position) as possible
very general stuff
*/
body {
    background :  white;
    font :  normal  normal  medium  sans-serif;
    font-size: small;
    background-image: url(graphics/theme4/page-l-solid.png);
    background-repeat: repeat-y;
}

img { border: 0; }

strong {
    font-weight: bold;
    color: #3eeb91;
  }

dd.code {
    font-family: courier, monospace;
    text-align: left;
  }

table {
    border-collapse: collapse; /* nice looking table borders */
    margin-left: auto;         /* center tables (margin-left==margin-right) */
    margin-right: auto;
  }

th.header {
    font-weight: bold;
    background-color: #9CCC92;
    text-align: center;
  }

/* for each "module" element ( module_head() and module_tail() functions ) */
div.moduleentry { text-align: justify; margin: 5px; }
h1.moduleheader { background-color: #81A979; text-align: center; font : bold normal medium sans-serif; }
div.modulecontent { padding: 0px 5px 2px 5px; }

#quickoverview div.moduleentry,
#sitenavigation div.moduleentry {
  text-align: left;
  background: url('graphics/theme4/navbox-liri-1px.gif') repeat-y;
  width: 204px;  /* width of quick-access boxes */
  margin: 0 0 2.6px 13px;
}
#quickoverview div.moduleentry div.header,
#sitenavigation div.moduleentry div.header {
  position: relative;
  background: url('graphics/theme4/navbox-t-solid.png') top no-repeat;
  padding: 14px 0 0 0;
}
#quickoverview div.moduleentry div.header h3,
#sitenavigation div.moduleentry div.header h3 {
  background: #79be16;
  padding: 0 11px 3px 25px;
  margin: 0 9px 0 9px;
  font-family: 'Linux Biolinum','Optima','Palatino',sans-serif;
  color: white;
  text-transform: uppercase;
  text-shadow: 1.5px 1.4px 1px #698C25;
  text-align: right;
  font-size: 14px;
  font-style: normal;
}
#quickoverview div.moduleentry div.content,
#sitenavigation div.moduleentry div.content {
  background: #daf3af url('graphics/theme4/box_green-mh-1px.png') top repeat-x;
  padding: 6.4px 8px 4px 8px;
  margin: 0 9px -6px 9px;
}
#quickoverview div.moduleentry div.content li,
#sitenavigation div.moduleentry div.content li {
    background:transparent url(graphics/theme4/bullet.png) no-repeat scroll 0 0.45em;
    margin-left:0px;
    padding-left:10px;
}
#quickoverview div.moduleentry div.footer,
#sitenavigation div.moduleentry div.footer {
  background: url('graphics/theme4/navbox-bi.gif') repeat-y;
  height: 14px;
}
#quickoverview img.category-icon,
#sitenavigation img.category-icon {
    position: absolute;
    background-repeat: no-repeat;
}
#quickoverview div.moduleentry div.content ul,
#sitenavigation div.moduleentry div.content ul {
    list-style-type: none; margin: 0; padding: 0; margin-left: 20px;
}
#sitenavigation div.moduleentry div.content ul {
    margin-left: 5px;
}


/* Quickbox (Home right) */
#quickoverview div.moduleentry {
  width: 233px;
  background-image: url('graphics/theme4/quickbox-liri-1px.gif');
}
#quickoverview div.moduleentry div.header {
  background-image: url('graphics/theme4/quickbox-t-solid.png');
}
#quickoverview div.moduleentry div.header h3 {
  text-align: left;
  padding-left: 10px;
  padding-right: 25px;
}
#quickoverview div.moduleentry div.footer {
  background-image: url('graphics/theme4/quickbox-bi.gif');
}

/* Quickbox Download */
#quickoverview div.cat-download div.header {
  background-image: url('graphics/theme4/quickbox_blue-t-solid.png');
}
#quickoverview div.cat-download div.header h3 {
  background-color:#1568af;
}
#quickoverview div.cat-download div.content {
  background-image: url('graphics/theme4/box_blue-mh-1px.png');
  background-color: #b9dbf7;
}
#quickoverview div.cat-download div.content a.download {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    color: #063660;
    font-weight: bold; font-size: 20px;
    margin-bottom: 5px; margin-left: -8px; margin-right: -8px;
    padding: 5px; padding-left: 35px;
    line-height: 10px;
    background-image: url('graphics/kdevelop_icon_32.png'); background-repeat: no-repeat;
    background-position: 5px 2px;
}
#quickoverview div.cat-download div.content a.download-legacy {
    background-image: url('graphics/kdevelop30_icon.png');
    background-position: 15px 2px;
    color: #487ba5;
    font-size: 15px;
}
#quickoverview div.cat-download div.content a.download span.date {
    font-style: italic;
    color: black;
    font-size: 10px; font-weight: normal;
}
#quickoverview div.cat-download div.footer {
  background-image: url('graphics/theme4/quickbox_blue-bi.gif');
}

/* Quickbox Support */
#quickoverview div.cat-support div.header {
  background-image: url('graphics/theme4/quickbox_red-t-solid.png');
}
#quickoverview div.cat-support div.header h3 {
  background-color:#c24610;
}
#quickoverview div.cat-support div.content {
  background-image: url('graphics/theme4/box_red-mh-1px.png');
  background-color: #f6cca6;
}
#quickoverview div.cat-support div.footer {
  background-image: url('graphics/theme4/quickbox_red-bi.gif');
}


.cat-doc .category-icon {
  background: url('graphics/theme4/cat-doc.png') no-repeat;
  left: 6px; top: -3px;
  width: 35px; height: 38px;
}
.cat-devel .category-icon {
  background: url('graphics/theme4/cat-devel.png') no-repeat;
  left: 6px; top: -2px;
  width: 42px; height: 44px;
}
.cat-community .category-icon {
  background: url('graphics/theme4/cat-community.png') no-repeat;
  left: 1px; top: -1px;
  width: 52px; height: 38px;
}
.cat-promotion .category-icon {
  background: url('graphics/theme4/cat-promotion.png') no-repeat;
  left: 5px; top: 1px;
  width: 38px; height: 36px;
}
.cat-download .category-icon {
  background: url('graphics/theme4/cat-download.png') no-repeat;
  right: 3px; top: -3px;
  width: 59px; height: 69px;
}
.cat-support .category-icon {
  background: url('graphics/theme4/cat-support.png') no-repeat;
  right: 4px; top: 0px;
  width: 44px; height: 44px;
}
/*
TODO IE6 overrides
.cat-doc .cat-icon  { background-image: url('graphics/theme4/cat-doc.gif') }
.cat-devel .cat-icon  { background-image: url('graphics/theme4/cat-devel.gif') }
.cat-community .cat-icon  { background-image: url('graphics/theme4/cat-community.gif') }
.cat-promotion .cat-icon  { background-image: url('graphics/theme4/cat-promotion.gif') }
.cat-download .cat-icon  { background-image: url('graphics/theme4/cat-download.gif') }
.cat-support .cat-icon  { background-image: url('graphics/theme4/cat-support.gif') }
*/

th { border: 1px solid gray; }
td { border: 1px solid gray; }
td.even { background-color: #AEE5A3; }
td.odd { background-color: #DCEEC2; }

.footnote,
.footnote a {
	font-size:12px;
	line-height:1.3em;
	color:#aaa;
}

.footnote em {
	background-color:transparent;
	font-style:italic;
}

.footnote code {
	background-color:transparent;
	font:11px/14px monospace;
	color:#aaa;
}


/*
Very specific formating/style stuff
*/
#searchdomain { font-size: small; }
#sitesearch td { border: 0px; }
#sitesearch table { margin-right: 0; }
#quickdownloads { font-size: small; text-align: left; }

/* website navigation (left column) */
#sitenavigation h2{ text-align: center; font : bold normal medium sans-serif; margin: 0px; }
#sitenavigation ul{ text-align: left; list-style-type:none; padding: 0px; margin: 0px;}
#sitenavigation table{ border: 0; width: 9em; }
#sitenavigation td { border: 0; }
#sitenavigation th { border: 0; }
td.versionlink { font-size: x-small; text-align: center; }

#picturecorner { text-align: center; }
#userprograms { text-align: center; }
#latestchangelogs { font-size: x-small; }
.detailedchangelog { font-size: small; text-align: right; }

/* screenshots pages */
div.screenshotthumb { float:left;margin: 0 25px 30px 0;vertical-align:top; }
div.screenshotcaption { text-align:center;width:200px;height:5em; }

#others ul{ list-style-type:none; }
li.othershoriz { display:inline; padding-right:20px; white-space:nowrap; }

/* main horizontal navigational menu */
#menu {
 position: absolute; top: 40px;  left: 430px;
 font-weight:bold;
 font-size:0.9em;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  float: left;
  background: url("/graphics/theme4/topmenulink-l.gif") no-repeat left top;
  margin: 0 0 0 3px;
  padding: 0 0 0 6px;
}
#menu ul a {
  display: block;
  background: url("/graphics/theme4/topmenulink-re.gif") no-repeat right top;
  padding: 4px 8px 3px 1px;
  color: white;
}

#menu ul a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 12.6px;
}
#menu ul a:before {
  content: url('graphics/theme4/bullet_toplink-solid.png');
  position: relative;
  bottom: 0.16em;
  padding-right: 5px;
}
#menu ul a:hover {
  color:#fff;
  text-shadow: #BEED66 0 0 4px;
}
#menu ul a:active {
  color:#BEED66;
  text-shadow: none;
}

#footer {
    margin-top: 120px;
    background-image: url(graphics/theme4/footer-bg-solid-1px.png);
    background-repeat: repeat-x;
}
#footer .sitemap {
    margin: 0;
    background-image: url(graphics/theme4/footerleft-l-solid.png);
    background-repeat: no-repeat;
    float: left;
    margin-top: -10px;
}
#footer .sitemap a {
    display: block;
    margin-left: 16px;
    padding-right: 24px;
    background-image: url(graphics/theme4/footerleft-r-solid.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-weight: bold;
    color: white;
}
#footer .sitemap a span {
    display: block;
    padding-top: 20px;
    background-image: url(graphics/theme4/footerleft-m-solid-1px.png);
    background-repeat: repeat-x;
}
#footer .sitemap a span:before {
  content: url('graphics/theme4/bullet_bottomlink.gif');
  position: relative;
  bottom: 0.16em;
  padding-right: 5px;
}
#footer .sitemap a:hover {
  color:#fff;
  text-shadow: #CCF873 0 0 4px;
  text-decoration: none;
}
#footer .sitemap a:active {
  color:#CCF873;
  text-shadow: none;
}
#footer #pagemodtime {
    padding-top: 17px;
    text-align: center;
}
#footer #webmaster {
    margin-top: -17px;
    text-align: right;
    font-size: 0.8em;
    font-style: normal;
}
#footer #webmaster a {
    margin-left:0px;
    padding-left:10px;
    background:transparent url(graphics/theme4/bullet.png) no-repeat scroll 0 0.45em;
}

/*
#menu ul {
 display:inline;
 list-style-type:none;
 margin-right:0.6em;
 padding:0pt;
}

#menu ul li {
 display:inline;
 max-height:1.6em;
 padding:0pt;
 text-align:center;
 white-space:nowrap;
}

#menu ul li a {
 background:#F0F0F0;
 color:#5D5D5D;
 text-decoration:none;
}

#menu ul li.selected a {
 background:transparent;
 border-bottom:1px solid white;
 border-top:1px solid #BCBCBC;
 border-left:1px solid #BCBCBC;
 border-right:1px solid #BCBCBC;
}

#menu ul li span {
 padding: 0em 0.7em;
}
*/