[KDE Desktop Entry]
Encoding=UTF-8
BinaryPattern=kdevelop2;
Type=Application
Exec=kdevelop2 -caption "%c" %i %m %u
MimeType=application/x-kdevelop-project;
Icon=kdevelop
DocPath=kdevelop2/index.html
Terminal=0
Name=KDevelop
Name[ast]=KDevelop
Name[bg]=KDevelop
Name[bs]=KDevelop
Name[ca]=KDevelop
Name[ca@valencia]=KDevelop
Name[cs]=KDevelop
Name[da]=KDevelop
Name[de]=KDevelop
Name[el]=KDevelop
Name[en_GB]=KDevelop
Name[es]=KDevelop
Name[et]=KDevelop
Name[fi]=KDevelop
Name[fr]=KDevelop
Name[ga]=KDevelop
Name[gl]=KDevelop
Name[hu]=KDevelop
Name[it]=KDevelop
Name[ko]=KDevelop
Name[lt]=KDevelop
Name[mr]=के-डेव्हलप
Name[nb]=KDevelop
Name[nds]=KDevelop
Name[nl]=KDevelop
Name[pl]=KDevelop
Name[pt]=KDevelop
Name[pt_BR]=KDevelop
Name[ro]=KDevelop
Name[ru]=KDevelop
Name[sk]=KDevelop
Name[sl]=KDevelop
Name[sv]=KDevelop
Name[tr]=KDevelop
Name[ug]=KDevelop
Name[uk]=KDevelop
Name[x-test]=xxKDevelopxx
Name[zh_CN]=KDevelop
Name[zh_TW]=KDevelop
Comment=Integrated Development Environment for C/C++
Comment[bg]=Интегрирана среда за разработка на C/C++
Comment[bs]=Integrirano razvojno okruženje za C/C++
Comment[ca]=Entorn integrat de desenvolupament per a C/C++
Comment[ca@valencia]=Entorn integrat de desenvolupament per a C/C++
Comment[cs]=Integrované Vývojové Prostředí pro C/C++
Comment[da]=Integreret udviklingsmiljø til C/C++
Comment[de]=Integrierte Entwicklungsumgebung für C/C++
Comment[el]=Ολοκληρωμένο περιβάλλον ανάπτυξης για C/C++
Comment[en_GB]=Integrated Development Environment for C/C++
Comment[es]=Entorno de desarrollo integrado para C/C++
Comment[et]=Integreeritud arenduskeskkond C/C++ jaoks
Comment[fi]=Integroitu kehitysympäristö C/C++:lle
Comment[fr]=Environnement de développement intégré pour C / C++
Comment[ga]=Timpeallacht Chomhtháite Fhorbartha le haghaidh C/C++
Comment[gl]=Entorno de desenvolvemento integrado para C/C++
Comment[hu]=Integrált fejlesztői környezet C/C++ nyelvekhez
Comment[it]=Ambiente di sviluppo integrato per C/C++
Comment[ko]=C/C++ 통합 개발 환경
Comment[lt]=Integruota C/C++ programavimo aplinka
Comment[mr]=C/C++ करिता एकिकृत विकास वातावरण
Comment[nb]=Integrert utviklingsmiljø for C++/C++
Comment[nds]=De Programmsmeed för C/C++
Comment[nl]=Geïntegreerde ontwikkelomgeving voor C/C++
Comment[pl]=Zintegrowane środowisko programistyczne dla C/C++
Comment[pt]=Ambiente de Desenvolvimento Integrado para C/C++
Comment[pt_BR]=Ambiente Integrado de Desenvolvimento para C/C++
Comment[ro]=Mediul de dezvoltare integrat pentru C/C++
Comment[ru]=Интегрированная среда разработки для C/C++
Comment[sk]=Integrované vývojové prostredie pre C/C++
Comment[sl]=Integrirano razvojno okolje za C/C++
Comment[sv]=Integrerad utvecklingsmiljö för C och C++
Comment[tr]=C/C++ için Bütünleşik Geliştirme Ortamı
Comment[ug]=C/C++ يۈرۈشلەشتۈرۈلگەن ئىجادىيەت مۇھىتى
Comment[uk]=Комплексне середовище розробки мовою C/C++
Comment[x-test]=xxIntegrated Development Environment for C/C++xx
Comment[zh_CN]=C/C++ 集成开发环境
Comment[zh_TW]=C/C++ 的整合開發環境
