[KDE Desktop Entry]
Encoding=UTF-8
BinaryPattern=kdevelop2;
Type=Application
Exec=kdevelop2 -caption "%c" %i %m %u
MimeType=application/x-kdevelop-project;
Icon=kdevelop
DocPath=kdevelop2/index.html
Terminal=0
Name=KDevelop
Name[cs]=KDevelop
Name[de]=KDevelop
Name[el]=KDevelop
Name[es]=KDevelop
Name[et]=KDevelop
Name[nb]=KDevelop
Name[nds]=KDevelop
Name[nl]=KDevelop
Name[pt]=KDevelop
Name[pt_BR]=KDevelop
Name[sv]=KDevelop
Name[uk]=KDevelop
Name[x-test]=xxKDevelopxx
Name[zh_TW]=KDevelop
Comment=Integrated Development Environment for C/C++
Comment[cs]=Integrované Vývojové Prostředí pro C/C++
Comment[de]=Integrierte Entwicklungsumgebung für C/C++
Comment[el]=Ολοκληρωμένο περιβάλλον ανάπτυξης για C/C++
Comment[es]=Entorno de desarrollo integrado para C/C++
Comment[et]=Integreeritud arenduskeskkond C/C++ jaoks
Comment[nb]=Integrert utviklingsmiljø for C++/C++
Comment[nds]=De Programmsmeed för C/C++
Comment[nl]=Geïntegreerde ontwikkelomgeving voor C/C++
Comment[pt]=Ambiente de Desenvolvimento Integrado para C/C++
Comment[pt_BR]=Ambiente Integrado de Desenvolvimento para C/C++
Comment[sv]=Integrerad utvecklingsmiljö för C och C++
Comment[uk]=Комплексне середовище розробки мовою C/C++
Comment[x-test]=xxIntegrated Development Environment for C/C++xx
Comment[zh_TW]=C/C++ 的整合開發環境
