[KDE Desktop Entry]
Encoding=UTF-8
BinaryPattern=kdevelop2;
Type=Application
Exec=kdevelop2 --setup
MimeType=
Icon=configure
DocPath=kdevelop2/index.html
Terminal=0
Name=KDevelop2 - Setup
Name[cs]=KDevelop2 - Nastavení
Name[es]=KDevelop2 - Configuración
Name[nl]=KDevelop2 - instellen
Name[pt]=KDevelop2 - Configuração
Name[pt_BR]=Configuração - KDevelop2
Name[sv]=KDevelop2 - Inställningar
Name[uk]=KDevelop2 — Налаштування
Name[x-test]=xxKDevelop2 - Setupxx
Name[zh_TW]=KDevelop2 - 設定
