[KDE Desktop Entry]
Encoding=UTF-8
BinaryPattern=kdevelop2;
Type=Application
Exec=kdevelop2 --setup
MimeType=
Icon=configure
DocPath=kdevelop2/index.html
Terminal=0
Name=KDevelop2 - Setup
Name[bs]=KDevelop2 - Postavka
Name[cs]=KDevelop2 - Nastavení
Name[da]=KDevelop2 - Opsætning
Name[de]=KDevelop2 - Einstellungen
Name[el]=KDevelop2 - Ρυθμιση
Name[es]=KDevelop2 - Configuración
Name[et]=KDevelop2 - seadistamine
Name[fi]=KDevelop2 – Asennus
Name[fr]=KDevelop2 - Configuration
Name[ga]=KDevelop2 - Socrú
Name[gl]=KDevelop2 - Configuración
Name[hu]=KDevelop2 - Beállítás
Name[it]=KDevelop2 - Setup
Name[lt]=KDevelop2 - Nustatymai
Name[mr]=के-डेव्हलप२ - संयोजना
Name[nb]=KDevelop2 – oppsett
Name[nds]=KDevelop2 - Instellen
Name[nl]=KDevelop2 - instellen
Name[pl]=KDevelop2 - Ustawienia
Name[pt]=KDevelop2 - Configuração
Name[pt_BR]=Configuração - KDevelop2
Name[ro]=KDevelop2 - Configurare
Name[sk]=KDevelop2 - Nastavenie
Name[sl]=KDevelop2 - Nastavitev
Name[sv]=KDevelop2 - Inställningar
Name[tr]=KDevelop2 - Kurulum
Name[uk]=KDevelop2 — Налаштування
Name[x-test]=xxKDevelop2 - Setupxx
Name[zh_CN]=KDevelop2 - 设置
Name[zh_TW]=KDevelop2 - 設定
