/*
  MAIN LAYOUT
  
  This file specifies the sizes and positioning of the top-level page layout areas:
    - header
    - left column
    - middle column
    - right column (optional)
    - footer
  No visual styles such as colors, background images, text sizes, etc. should be defined here.
  
  --------------------------------------------------------------------------------------------------
  
  A fluid column layout based on the "Holy Grail of Layouts"
  (http://www.alistapart.com/articles/holygrail) is used.
  
  The calculated values in the CSS below depend on the following logical values:
  
  header:        H height =  114 px,  H spacing  =  7 px
  left column:   LC width =  211 px,  LC padding = 10 px
  center column: CC width = <fluid>,  CC padding = 26 px
  right column:  RC width =  234 px,  RC padding = 10 px
  footer:        F height =   45 px
  
*/

html, body {
  padding: 0;
  margin: 0;
  min-width: 900px;       /* at least [2 x (LC width + LC padding + CC padding) + RC width
                             + RC padding] needed, otherwise layout messed up on small viewports */
  height: 100%;           /* force layout to stretch to viewport height */
  min-width: 100%;        /* force layout to stretch to viewport width */
  float: left;            /* force layout width to properly expand in case of overflowing elements*/
}

#layoutcontainer {
  padding-left: 221px;    /* LC width + LC padding */
  position: relative;     /* set as reference for absolute positioning of header and footer */
  min-height: 100%;       /* needed to make footer stick to bottom of viewport */
  padding-right: 55px;    /* right margin for two-column case */
  overflow: hidden;       /* force container to stretch to height of highest column */
}

#layoutcontainer.threecols {
  padding-right: 270px;   /* RC width + RC padding + CC padding */
}

/********** Top Section (header) ******************************************************************/

#head {
  width: 100%;
  height: 92px;
  position: absolute;
  top: 0;
  left: 0;
}

/********** Middle Section (two or three columns) *************************************************/

#sidebar-left, #maincontent, #sidebar-right {
  position: relative;
  float: left;
  padding-top: 121px;     /* H height + H spacing */
  padding-bottom: 65px;   /* F height */
}

/* Left Column */

#sidebar-left {
  width: 211px;           /* LC width */
  padding-left: 12px;      /* LC padding / 2 */
  padding-right: 20px;     /* LC padding / 2 */
  //right: 247px;           /* LC width + LC padding + CC padding */
  left: -221px;
  margin-left: -100%;
  margin-right: 10px;
  overflow: hidden;
}
* html #sidebar-left { /* IE6 hack */
  left: 234px;            /* RC width */
}

/* Middle Column */

#maincontent {
  left:25px;
  width:100%;

  background:url("../graphics/maincol_tr.jpg") no-repeat scroll right 92px, url("../graphics/maincol_br.jpg") no-repeat scroll right bottom, 
    url("../graphics/maincol_r.jpg") repeat-y scroll right center, url("../graphics/maincol_tl.jpg") no-repeat scroll left 92px, 
    url("../graphics/maincol_t.png") repeat-x scroll center 92px, url("../graphics/maincol_bl.jpg") no-repeat scroll left bottom,
    url("../graphics/maincol_b.png") repeat-x scroll bottom center, url("../graphics/maincol_l.jpg") repeat-y scroll left center, none repeat scroll 0 0 
#F5FAE9;
}

#maincontent-sub {
  padding-left: 13px;     /* CC padding / 2 */
  padding-right: 13px;    /* CC padding / 2 */
}

/* Right Column */

#sidebar-right {
  width: 234px;           /* RC width */
  padding-left: 5px;      /* RC padding / 2 */
  padding-right: 5px;     /* RC padding / 2 */
  margin-right: -100%;
  overflow: hidden;
  right:-20px;
}

/********** Bottom Section (footer) ***************************************************************/

#footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 120px;
  z-index:100;
}
