/*
  HEADER + HEADER ELEMENTS
  
  This file defines the visual appearance of the header bar, as well as the layout and appearance of
  elements inside this bar.
  
  The size and positioning of the header bar itself within the top-level layout is defined in the
  "Main Layout" file instead.
  
*/

/********** Header Background *********************************************************************/

#head {
  background-image: url(../graphics/header-bg-solid-1px.png);
  background-repeat: repeat-x;
}

#logo { position: absolute; top: 0px; left: -10px; padding: 0px; }

#logo img, #logo span {
  float:left;
}
#logo span {
  padding:35px 0 0 120px;
  color: #fff;
  font-size: 16px;
  line-height:16px;
  text-shadow: 0 0 5px #215278;
}
#logo strong {
  font-size:28px;
}
/********** Language Selector *********************************************************************/

#languageselector { position: absolute; top: 0px; right: 0px; text-align: right; padding: 5px; }

/********** Search Bar ****************************************************************************/

#sitesearch {
  position: absolute; top: 77px; right: 0px; text-align: right; padding: 5px;
  background: url('../graphics/searchbar-t-solid.png') top left no-repeat;
  padding: 16px 0 0 0;
  width: 242px;
}

#sitesearch label {
  display:none;
}

#sitesearch .form-item {
  margin:0;
}

#searchbar-content {
  background: url('../graphics/searchbar-be-solid.png') bottom left no-repeat;
  margin: 0 0 0 0;
  padding: 0 9px 1px 20px;
}

#search-theme-form {
  position: relative;
  top: -12px;
  text-align: center;
}

#search-theme-form input.form-submit {
  font-size:10px;
}

#search-theme-form input.form-text {
  width: 130px;
  border: 1px solid black;
  font-size:10px;
}

/********** Top Menu Links ************************************************************************/

#menu {
 position: absolute; top: 40px;  left: 430px;
 font-weight:bold;
 font-size:0.9em;
}
#menu ul {
  list-style: none;
  margin-top:11px;
}
#menu ul li {
  float: left;
  background: url("../graphics/topmenulink-l.gif") no-repeat left top;
  margin: 0 0 0 3px;
  padding: 0 0 0 6px;
}
#menu ul a {
  display: block;
  background: url("../graphics/topmenulink-re.gif") no-repeat right top;
  padding: 4px 8px 3px 1px;
  color: white;
}

#menu ul a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 12.6px;
}
#menu ul a:before {
  content: url('../graphics/bullet_toplink-solid.png');
  position: relative;
  bottom: 0.16em;
  padding-right: 5px;
}
#menu ul a:hover {
  color: #F5CB22;
  text-shadow: rgba(255,255,255,0.5) 0 0 6px, #51800C 0 0 1px;
}
#menu ul a:active {
  color:#BEED66;
  text-shadow: none;
}
